---
import Layout from "../layouts/Layout.astro";
import { HomeScreen } from "@remotelist/app/features/home/screen";
---

<!-- TODO: client:only required for dev hmr, disable in production -->
<!-- TODO: Astro w Supabase ecample site https://github.com/open-sauced/hot -->

<Layout title="Welcome to Astro.">
	<p>hey</p>
	<HomeScreen/>
</Layout>
